.trip-area{
    .big-text-area{
        font-style: normal;
        font-weight: bolder;
        font-size: 70px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: #1E2A39;
    }
    .small-text-area{

        font-style: normal;
        font-weight: bolder;
        font-size: 16px;
        line-height: 28px;
        margin-top: 5vh;
        text-align: center;

        color: #000000;
    }
}
