.hero-text{
    div{
        font-style: normal;
        font-weight: 700;
        font-size: 62px;
        line-height: 78px;

    
        text-align: center;
    }
    section{
        margin-top: 5vh;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        opacity: 0.88;
    }

}