@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Work+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.hero-image {
    background-image: url("./assests/image\ 2.png");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .app-hero-text{
        margin-top: 20vh;
        
    }
    .app-search-option{
        margin-top: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;

    }
  }